body{
    font-family: 'Outfit', sans-serif;
}
.container-redes{
    width: 100%;
    height: 70px;
    padding: 10px 0;
    display: inline-block;
    text-align: right;
}

.logo-redes{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    object-fit: cover;
}
.logo-title {
  display: flex;
  align-items: center;
}
.main-menu{
    width: 10%;
    height: 100%;
    margin-left: 30px;
}
.logo-main{
    width: 100px;
    margin: 0 auto;
}
.slider{
    width: 40%;
    height: 200px;
    display: flex;
}
.carousel-item img{
    object-fit: cover;
    padding: 15px;
}
#menu{
    width: 40%;
    margin: 0 auto;

    display: grid; 
  grid-template-columns: 0.5fr 0.5fr; 
  grid-template-rows: 140px 140px 140px 140px;
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
  justify-content: space-evenly; 
  align-content: space-evenly; 
}



.img-menu{
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.content{
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: black;
}
.content:hover{
    background-color: #D97855;
    color: white;
}

footer{
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    background-color: #F2B279;
    display: flex;
}
.footer{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: white;
}
.logo-footer{
    width: 100px;
}

.mc-center{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-outline-secondary{
    color: white;
    border-color: #D97855;
    background-color: #D97855;
}
.btn-outline-secondary:hover{
    background-color: #593F42;
    color: white;
}
.form-control{
    border-color: #D97855;
}
.center-content{
    margin: 5% auto;
    display: flex;
}
.grid-menu{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . .";
    align-content: space-evenly;
    width: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.grid-menu img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.page-title {
width: 80%;
padding-bottom: 50px;
text-align: center;
color: #593F42;
}
.page-text {
width: 70%;
margin: 0 auto;
text-align: justify;
color: #593F42;
}
input[list] {
    margin-top: 50px ;
 width: 800px;
height: auto;

}
* {
    border-sizing: border-box;
  }
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container {
    height:50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: -75px;
   
  }
  .cities {
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    height: 50px;
    width: 800px;
    
  }
  .cities input, button {
    width: 500px;
    border: none;
    background: white;
    margin: 0;
    color: #D97855;
  }
  .container input {
    width: 30000px;
    font-size: 22px;
    padding: 10px 12px;
    text-align: center;
    color: #D97855;
  }
  button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .container img {
    width: 18px;
    height: 18px;
   
  }
  ul {
    position: absolute;
    top: 100%;
    margin-top: -1px;
    width: 100%;
    z-index: 1;
    background: #fff;
    margin: 0;
    list-style: none;
    transition: none;
    padding: 0;
    border: 1px solid #bfc8c9;
    color: #D97855;
  }
  ul li {
    padding: 6px 12px;
    transition: 0.2s background;
    cursor: pointer;
  }
  ul li:hover {
    background: #e6f0f2;
  }
  ul li + li {
    border-top: 1px solid #bfc8c9;
  }
  .hidden {
    display: none;
  }
  .page-content {
    display: flex;
    justify-content: space-around;
   padding-top: 10px;
   
}
.page-title h2 {
  padding-left: 30%;
}
.boton {
  padding: 10px;     
  }

.page-selection {
 display: flex;
 width: 30%;
 margin: 0 auto;
}
.pawsmall {
  width: 30px;
  height: auto;
 
}
.pawmedium {
  width: 50px;
  height: auto;
}
.pawbig {
  width: 130px;
  height: auto;
}
.animalweight {
  display: flex;
  width: 60%;
  height: 200px;
  margin: 0 auto;

}
.botones {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 50px;
}
.container-dates {
  height:50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 margin-top: -75px;
 
}
.container-dates img {
  width: 18px;
  height: 18px;
 
}
.dates {
  display: flex;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  height: 50px;
  width: 800px;
  
}
.container-dates input {
  width: 30000px;
  font-size: 22px;
  padding: 10px 12px;
  text-align: center;
  color: #D97855;
  }
  .checkbox {
    display: flex;
justify-content: space-around;
margin-left: 155px;
align-items: center;
  }
  .checkbox label {
    margin-left: -120px;
  }
  .continue {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: #ffffff;
    background-color: #D97855;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  margin-top: 85px;
  
  margin-left:35%;
  }
  
    .text-alojamientos a {
      color: #ffffff;
      background-color: #D97855;
      text-decoration: none;
      padding: 5px;   
      border-radius: 6px;
      display: flex;
      width: 20%;
      justify-content: center;
  
    }
    .text-alojamientos {
    display: flex;
    width: 50%;
    margin: 0 20%;
    color: #593F42;
    flex-direction: column;
    margin-bottom: 10%;
    }
    .text-transportes {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 20%;
      color: #593F42;
      }
    .datos-transportes {
      display: flex;
    }
    .filter-content h3 {
      display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 20%;
  color: #593F42;
    }
.text-car {
      display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 20%;
  color: #593F42;
  text-align: justify;
}
.text-tren   {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 20%;
  color: #593F42;
  text-align: justify;
} 
.text-avion {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 20%;
  color: #593F42;
  text-align: justify;
}
.planing  {
  color: #ffffff;
  background-color: #D97855;
  text-decoration: none;
  padding: 5px;   
  border-radius: 6px;
  width: 20%;
  justify-content: center;
  margin-bottom: 40%;

     
}
.number {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 10%;
}


