body{
    font-family: 'Outfit', sans-serif;
}

.container-redes{
    width: 100%;
    height: 70px;
    padding: 10px 0;
    display: inline-block;
    text-align: right;
}

.logo-redes{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    object-fit: cover;
}

.logo-title {
    display: flex;
    align-items: center;
}
.main-menu{
    width: 10%;
    height: 100%;
    margin-left: 30px;
}
.logo-main{
    width: 100px;
    margin: 0 auto;
}
.page-title {
    width: 80%;
    padding-bottom: 50px;
    text-align: center;
    color: #593F42;
}

.logo-main{
    width: 100px;
    margin: 0 auto;
    margin-left: 4%;
    margin-bottom: -5%;
}
.slider{
    width: 80%;
    height: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.carrusel{
    width: 50%;
}
.carousel-item img{
    width: 0 auto;
    height: 260px;
    object-fit: cover;
    margin-top: 50px;
    padding: 15px;
}
#menu{
    width: 40%;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 100px;
    display: grid; 
    grid-template-columns: 0.5fr 0.5fr; 
    grid-template-rows: 140px 140px 140px 140px;
    gap: 0px 0px; 
    grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
    justify-content: space-evenly; 
    align-content: space-evenly; 
}

.img-menu{
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.content:hover{
    background-color: #D97855;
    color: white;

}

footer{
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    background-color: #F2B279;
    display: flex;
}
.footer{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: white;
}
.logo-footer{
    width: 100px;
}

.mc-center{
    width: 25%;
    margin-left: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.page-title{
    color: #593F42;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}
.btn-outline-secondary{
    color: white;
    border-color: #D97855;
    background-color: #D97855;
}
.btn-outline-secondary:hover{
    background-color: #593F42;
    color: white;
}
.form-control{
    border-color: #D97855;
}
.center-content{
    margin: 5% auto;
    display: flex;
}
.grid-menu{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . .";
    align-content: space-evenly;
    width: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.grid-menu a {
    width: 200px;
    height: 200px;
}

.grid-menu img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.divcenter {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 500px;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 60px;
}

.divcenter h3 {
    font-size: 20px;
    color: #593F42;
}

.linkedin {
    text-decoration: none;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-right: 15px;
}

.map {
    width: 0 auto;
    height: 600px;
    margin-bottom: 100px;
    display: flex;
    
}

.text {
    width: 75%;
    height: 100%;
    text-align: justify;
    margin-left: 180px;
    margin-right: 50px;
    margin-bottom: 8%;
}
